.w-350 {
    width: 350px !important;
}

.w-100 {
    width: 100px !important;
}

.w-200 {
    width: 100px !important;
}

.upload-form{
    display:flex;
    justify-content: space-evenly;
}

.btn-flx{
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    margin-top: 10px !important;

}

.inp-file{
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
}

.btn-invoice{
    float:right;
    display: inline-block !important;
}
.ib{
    display: inline-block !important;
}

.btn-container-add-inv{
    display: flex;
    justify-content: center;
}

.btn-space{
    display: flex;
    justify-content: space-evenly;
    margin-inline-end: 5px;
}

.no-border{
    border: none !important;
}

.ml-25{
    display: inline-block;
    margin-left: 26%;
}
.ml-25:hover{
    color: #36b9cc;
}

.btn-send{
    display: flex !important;
    justify-content: center !important;
}

.w-100{
    width: 150px !important;
}
.fs-14{
    font-size: 14px !important;
}

.user-btn{
    display: flex;
    justify-content: center;
}
